.blue {
  color: #057feb;
}
.skyblue {
    color: #66D9EF;
  }
.red {
    color: #F92672;
}
.purple {
    color: #AE81FF;
}
.green {
    color: #A6E22E;
}
.olive {
  color: #829356;
}
.orange {
    color: #FD971F;
}
.lightorange {
    color: #E69F66;
}
.bold {
  font-weight: bold;
}

